{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{product.desc | truncatewords:155}}
{% endblock %}

{% block content%}
{% if not cart_items %}

<div class="main">
  <h1>Your cart</h1>
  <h2 class="sub-heading">Sorry your cart is <strong>Empty</strong></h2>
    <h2 class="sub-heading"><a href="{% url 'medicine_app:home' %}" >Please click here</a></h2>
</div>

{% else %}
<div class="main">
  <h1>Your cart</h1>

  <section class="shopping-cart">
    <ol class="ui-list shopping-cart--list" id="shopping-cart--list">


        {% for cart_item in cart_items %}
          <li class="_grid shopping-cart--list-item">
              <div class="_column product-image">
                <img class="product-image--img" src="{{cart_item.product.img.url}}" alt="Item image" />
              </div>
              <div class="_column product-info">
                <h4 class="product-name">{{ cart_item.product.name }}</h4>
                <div class="price product-single-price">${{cart_item.product.price}}</div>
              </div>

        {% if cart_item.quantity < cart_item.product.stock %}

              <div class="_column product-modifiers" data-product-price="${{cart_item.product.price}}">
                <div class="_grid">
                 <a href="{% url 'cart:cart_remove' cart_item.product.id %}" >
                  <button class="_btn _column product-subtract" >&minus;</button>
                 </a>
                  <div class="_column product-qty">{{cart_item.quantity}}</div>
                  <a href="{% url 'cart:add_cart' cart_item.product.id %}">
                   <button class="_btn _column product-plus">&plus;</button>
                  </a>
                </div>
                  <a href="{% url 'cart:full_remove' cart_item.product.id %}" >
                    <button class="_btn entypo-trash product-remove">Remove</button>
                  </a>
                <div class="price product-total-price">${{cart_item.sub_total}}</div>
              </div>

          {% else %}

              <div class="_column product-modifiers" data-product-price="${{cart_item.product.price}}">
                <div class="_grid">
                 <a href="{% url 'cart:cart_remove' cart_item.product.id %}" >
                  <button class="_btn _column product-subtract" >&minus;</button>
                 </a>
                  <div class="_column product-qty">{{cart_item.quantity}}</div>
                </div>
                  <a href="{% url 'cart:full_remove' cart_item.product.id %}" >
                    <button class="_btn entypo-trash product-remove">Remove</button>
                  </a>
                <div class="price product-total-price">${{cart_item.sub_total}}</div>
              </div>

            {% endif %}

        </li>
       {% endfor %}


    </ol>

    <footer class="_grid cart-totals">
      <div class="_column subtotal" id="subtotalCtr">
<!--        <div class="cart-totals-key">Subtotal</div>-->
<!--        <div class="cart-totals-value">$0.00</div>-->
      </div>
      <div class="_column shipping" id="shippingCtr">
<!--        <div class="cart-totals-key">Shipping</div>-->
<!--        <div class="cart-totals-value">$0.00</div>-->
      </div>
      <div class="_column taxes" id="taxesCtr">
<!--        <div class="cart-totals-key">Taxes (6%)</div>-->
<!--        <div class="cart-totals-value">$0.00</div>-->
      </div>
      <div class="_column total" id="totalCtr">
        <div class="cart-totals-key">Total</div>
        <div class="cart-totals-value">${{total}}</div>
      </div>
      <div class="_column checkout">
        <button class="_btn checkout-btn entypo-forward">Checkout</button>
      </div>
    </footer>

  </section>
</div>

{% endif %}
{% endblock %}


