{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.desc | truncatewords:155}}
    {% else %}
        Welcome to cart store
    {% endif %}
{% endblock %}

<!--    title block     -->

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        See our collection
    {% endif %}
{% endblock %}

<!--    content    if category exists    -->

{% block content %}

    <div class="wrapper bgded overlay gradient" style="background-image:url({% static 'images/flibcart.jpg' %});">
      <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
          <p>Place where you and your loved ones receive care.</p>
          <h3 class="heading">We fight for the betterment of our patient's health.</h3>
                      <p>Quality products only</p>

          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn inverse" href="{% url 'medicine_app:home' %}">Go to our collection</a></li>
            </ul>
          </footer>
        </article>
        <!-- ################################################################################################ -->
      </div>
    </div>

<div class="wrapper row2">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">You have searched for {{query}}</h6>
    </div>

    <!-- ################################################################################################ -->
    <ul class="nospace group prices">
      {% for i in products %}
        <li class="one_third">
            <article><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="{{i.name}}"></a>
          <h6 class="heading">{{i.name}}</h6>
          <p><sup>$</sup><strong>{{i.price}}</strong></p>
          <footer><a class="btn" href="{{i.get_url}}">Details</a></footer>
        </article>
      </li>
    </ul>
     {% empty %}
    <div class="sectiontitle">
      <h6 class="heading">0 results for your search</h6>
    </div>
     {% endfor %}

  </section>
</div>

{% endblock %}